extends layouts/_base

block title
    title Cozy Cloud
    
if authtoken
    block meta
        meta(name="authtoken", content=authtoken)


block content
    main(role='application')


block js
    script
        if name
            | var username='#{name}';
    script(src="/scripts/vendor.js")
    script(src="/scripts/app.js", onload="require('initialize');")
